@import '_graph';

html{
   background: url('https://wallpaperaccess.com/full/2717776.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  // flex: 1;
  align-items: center;
    height: 100vh;
  padding: 0;
  margin: 0;
}

h3{
    display: flex;
    justify-content: center;
    color: rgb(117, 25, 25);
    text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
}

.app {
  // display: flex;
  // height: 100vh;
}

#app-container{
    // position: relative;
    // height: 27%;
    // width: 45%;
    // top: 45vh;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // border-radius: 10px;
    // border: 5px solid rgb(0, 0, 0);
    // padding: 10px;
    // align-content: center;
    // background-color: rgb(242, 145, 48);
    // display: flex;
    // flex-direction: column;
    // // align-items: center;
    position: relative;
    margin-top: 27vh;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    // align-content: center;
    background-color: rgb(242, 145, 48);
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 46vh;
    height: 30vh;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // margin-top: 20px;
}

.input-API {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  
}

// #background{
//   object-fit: cover;
//   height: 100%;
//   width: 100%
// }

#paste {
  color: rgb(0, 0, 0);
  background-color: rgb(223, 231, 234);
  border-radius: 25px;
  border: 2px solid white;
}

button:hover{
  
}

.logo-container{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo-container img{
    max-width: 140%;
    max-height: 140%;
}

.logo-title-container {
  display: flex;
  align-items: center; 
}

.input-API{
    margin-top: 10px;
}

// navBar styles
.navBar {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}