
html{
  background: url('https://wallpaperaccess.com/full/2717776.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

h3{
  display: flex;
  justify-content: center;
  color: rgb(117, 25, 25);
  text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
}

@import '_graph';
#app-container{
    position: relative;
    height: 27vh;
    width: 45vw;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    align-content: center;
    background-color: rgb(242, 145, 48);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-wdith: 997px){
      height:50vh;
      width: 80vw;
      top:50vh;
    }

   .center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
    };

  .logo-container{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    img{
      max-width: 140%;
      max-height: 140%;
    };
  }





}


.input-API {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: fit-content;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  
}

// #background{
//   object-fit: cover;
//   height: 100%;
//   width: 100%
// }

#paste {
  color: rgb(0, 0, 0);
  background-color: rgb(223, 231, 234);
  border-radius: 25px;
  border: 2px solid white;
}

button:hover{
  cursor: pointer;
  opacity: 50%;
}



.logo-title-container {
  display: flex;
  align-items: center; 
}

.input-API{
    margin-top: 10px;
}

// navBar styles
.navBar {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}